@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slabo+27px&display=swap');

/*
    COLOR PALETTE:
    #526B5C
    #B0CCCF
    #BCCEAF
    #63806F
    #FBFCFA
    #26312A
    #5A6D7F
*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fbfcfa;
}

#top-navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #B0CCCF;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 2vh;
    align-items: center;
    justify-content: space-between;
}

#top-navigation-bar img {
    height: 4.5vh;
    float: left;
    padding-top: 2.5vh;
}

#top-navigation-bar ul {
    height: 6vh;
    list-style-type: none;
    display: flex;
    float: right;
    align-items: center;
}

#top-navigation-bar ul li {
    display: inline-block;
    align-items: center;
}

#top-navigation-bar ul li a {
    position: relative;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.9vh;
    text-decoration: none;
    padding: 5vh 10vh;
    text-align: center;
    letter-spacing: 0.1em;
    transition: color 0.3s ease;
}

#top-navigation-bar ul li a.active {
    color: #526B5C;
}

#top-navigation-bar ul li a.active::after {
    content: "";
    position: absolute;
    left: -10%;
    bottom: 9px;
    width: 120%;
    height: 3px;
    background-color: #26312A;
    transition: all 0.3s ease;
}

#top-navigation-bar:hover ul li a.active::after {
    left: 0%;
    width: 100%;
}

#top-navigation-bar ul li a:hover:not(.active){
    color: white;
}

.button-75 {
    background-color: #BCCEAF;
    border: 2px solid #26312A;
    border-radius: 30px;
    box-shadow: #26312A 4px 4px 0 0;
    color: #26312A;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.6vh;
    letter-spacing: 0.1em;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease;
}
  
.button-75:hover {
    background-color: #fff;
}
  
.button-75:active {
    box-shadow: #26312A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.button-75-active {
    box-shadow: #26312A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.hero-image {
    height: 80vh;
    background-size: cover;
    position: relative;
}

.hero-image-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-image-title {
    letter-spacing: 0.05em;
    color: white;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10vh;
}

.hero-image-subtitle {
    letter-spacing: 0.25em;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
}

.image p {
    font-family: "Poppins", sans-serif;
    font-size: 0.65em;
    margin: 0;
}

.image-footer {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vh;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.image-footer p {
    margin: 0;
}

.button-74 {
    background-color: #BCCEAF;
    border: 2px solid #26312A;
    border-radius: 30px;
    box-shadow: #26312A 4px 4px 0 0;
    color: #26312A;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.3s ease;
}
  
.button-74:hover {
    background-color: #fff;
}
  
.button-74:active {
    box-shadow: #26312A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.button-74-active {
    box-shadow: #26312A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.hero-image .button-74 {
    margin-top: 2vh;
}

#Acerca-de::before {
    content: "";
    display: block;
    height: 10vh;
    margin-top: -10vh;
}

#Acerca-de {
    width: 100%;
    background-color: #FBFCFA;
}

#Acerca-de-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 160px;
}

#Acerca-de h2{
    font-family: "Poppins", serif;
    color: #26312A;
}

#Acerca-de p{
    font-family: "Poppins", serif;
    color: black;
}

#Acerca-de .column {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Acerca-de .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    gap: 10px;
    width: 500px;
}

#Acerca-de img {
    width: 450px;
    height: auto;
    border-radius: 15px;
}

#Sobre-nosotros {
    width: 100%;
    padding: 20px;
}

#Sobre-nosotros-content {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#Sobre-nosotros .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
}

#Sobre-nosotros .column {
    width: 310.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

#Sobre-nosotros .frame {
    width: 310.4px;
    height: 372.8px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

#Sobre-nosotros .frame img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Sobre-nosotros .column .name p {
    margin: 0;
    letter-spacing: 0.25em;
    color: black;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#Sobre-nosotros .name {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#Sobre-nosotros .role {
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s ease;
    color: white;
    letter-spacing: 0.25em;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

#Sobre-nosotros .frame:hover .role {
    opacity: 1;
}

#Sobre-nosotros .role p {
    max-width: 70%;
}

#Sobre-nosotros::before {
    content: "";
    position: absolute;
    text-align: center;
    left: 10%;
    width: 80%;
    height: 3px;
    background-color: #5A6D7F;
}

#Sobre-nosotros h1 {
    letter-spacing: 0.05em;
    color: #26312A;
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}

footer {
    background-color: #26312a;
    height: 32vh;
    position: relative;
    color: white;
}

footer img {
    height: 6.5vh;
}

.footer-title {
    letter-spacing: 0.25em;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vh;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer .fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
    transition: background-position 0.4s ease;
}

footer .fa-instagram {
  	background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045, #26312a, #26312a, #26312a);
    background-size: 250% 250%;
    background-position: right;
}

footer:hover .fa-instagram {
    background-position: center;
}

footer .fa-instagram:hover {
    background-position: left;
}